services:
  postgres:
    image: postgres:14.13-alpine
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: postgres

  engine:
    image: ghcr.io/noumenadigital/images/engine:latest
    ports:
      - "11000:11000"
      - "12000:12000"
      - "12400:12400"
      - "12700:12700"
    environment:
      ENGINE_DB_PASSWORD: postgres
      ENGINE_DEV_MODE: true

  nginx-proxy:
    image: nginx:latest
    ports:
      - "12001:12001"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./nginx/snippets:/etc/nginx/snippets
    depends_on:
      engine:
        condition: service_healthy

  inspector:
    image: ghcr.io/noumenadigital/packages/inspector:latest
    build:
      context: ./
    ports:
      - "8080:8080"
    environment:
      - NPL_ENGINE_URL=http://localhost:12000
      - KEYCLOAK_URL=${VITE_KEYCLOAK_URL:-http://localhost:11000}
      - KEYCLOAK_REALM=${VITE_KEYCLOAK_REALM:-}
      - KEYCLOAK_CLIENT_ID=${VITE_KEYCLOAK_CLIENT_ID:-}